.zone {
  height: 100%;
  min-height: 96px;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
}

.component {

}

.emptyText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 536px;
  border-radius: 4px;
  border: 2px dashed #8585ad77;
  margin: 8px 16px 8px auto;
}
